[Unit]
Description=Golang Service
After=network.target

[Service]
Environment="TERM=ansi"
User=root
Group=root
WorkingDirectory=/root/project/golang
ExecStart=/root/project/golang/bin/main
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
